* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { 
  overflow-x: hidden;
}

/* Navbar */

nav {
  position: fixed;
  z-index: 20;
  width: 100%;
  transition: background-color 0.2s ease, backdrop-filter 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
}

.sticky {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
}

.logo > h1 {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 2rem;
  color: white;
  line-height: 2rem;
}

.logo > h1 > span {
  font-size: 3rem;
}

.navbar {
  display: flex;
  list-style-type: none;
  gap: 4rem;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-family: "Orienta", sans-serif;
  font-size: 1.15rem;
}

.nav-item:hover {
  color: #C3941B;
  text-decoration: underline;
}

.current {
  color: #C3941B;
  text-decoration: underline #C3941B;
}

.dropbtn {
  display: flex;
  position: relative;
}

.dropbtn > svg {
  position: absolute;
  top: 20%;
  left: 105%;
}

.dropdown {
  margin-right: 0.25rem;
}

.dropdown-content{
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  background-color: white;
  padding: 1rem 0;
  border-radius: 5px;
  border-top: 5px solid black;
}

.sub-item {
  text-decoration: none;
  color: black;
  font-family: "Orienta", sans-serif;
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
}

.sub-item:hover {
  color: #C3941B;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
}

/* Hamburger */
.container {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* Side Navbar */
.side {
  position: absolute;
  z-index: 10;
  top: 75%;
  right: 5%;
  display: none;
  flex-direction: column;
  background-color: white;
  padding: 1.5rem 0;
  border-radius: 10px;
  border-top: 6px solid black;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.side-show {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: translateY(0);
}

.side-logo > h1 {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 2rem;
  color: black;
  line-height: 2rem;
  padding: 0 0 1rem 2rem;
  text-decoration: underline #C3941B;
}

.side-logo > h1 > span {
  font-size: 3rem;
}

.side-nav-item {
  font-family: "Orienta", sans-serif;
  font-weight: 600;
  color: black;
  text-decoration: none;
  padding: 0.5rem 12rem 0.5rem 2rem;
}

.side-nav-item:active {
  color: #C3941B;
}

.side-nav-item:focus {
  color: #C3941B;
}

.side-dropbtn {
  display: flex;
  position: relative;
}

.side-dropbtn > svg {
  position: absolute;
  left: 85%;
}

.side-dropdown-content {
  display: none;
  flex-direction: column;
  padding: 0.5rem 0 0.5rem 3rem;
  background-color: whitesmoke;
}

.side-sub-show {
  display: flex;
  flex-direction: column;
}

.side-sub-item {
  font-family: "Orienta", sans-serif;
  color: black;
  text-decoration: none;
  padding: 0.5rem 0;
}

.side-sub-item:active {
  color: #C3941B;
}

.side-sub-item:focus {
  color: #C3941B;
}

/* Hero Section */

.hero {
  background-image: url("../asset/BG-exp.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 120vh;
  position: relative;
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  height: 85vh;
}

.text > h1{
  font-family: "Montserrat Subrayada", sans-serif;
  color: white;
  font-size: 7rem;
}

.text > h3 {
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 5rem;
  letter-spacing: 1rem;
}

/* Beto Labheng Section */

.beto-labheng {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  place-items: center;
  background-color: #2E482F;
  padding: 6rem 4rem;
  border-radius: 100px;
  z-index: 10;
  margin-top: -8rem;
}

.img-beto-labheng {
  display: flex;
  place-content: center;
}

.img-beto-labheng > img {
  width: 80%;
  border-radius: 50px;
}

.text-beto-labheng {
  padding: 0 3rem;
}

.text-beto-labheng > h3 {
  font-family: "Passion One", sans-serif;
  color: white;
  font-size: 6rem;
}

.text-beto-labheng > p {
  font-family: "Orienta", sans-serif;
  color: white;
  font-size: 1.25rem;
  padding-right: 8rem;
  margin-bottom: 2.5rem;
}

.text-beto-labheng > a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #2E482F;
  background-color: white;
  padding: 0.4rem 3rem;
  text-decoration: none;
  border-radius: 30px;
}

.text-beto-labheng > a:hover {
  color: white;
  background-color: #2E482F;
  outline: solid white 2px;
  transition-duration: 100ms;
}

/* Ketipung Section */

.ketipung {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  place-items: center;
  background-color: white;
  padding: 6rem 4rem;
  z-index: 5;
}

.img-ketipung {
  display: flex;
  place-content: center;
}

.img-ketipung > img {
  width: 80%;
  border-radius: 50px;
}

.text-ketipung {
  padding: 0 3rem;
}

.text-ketipung > h3 {
  font-family: "Passion One", sans-serif;
  color: #41371D;
  font-size: 6rem;
}

.text-ketipung > p {
  font-family: "Orienta", sans-serif;
  color: #41371D;
  font-size: 1.25rem;
  padding-right: 8rem;
  margin-bottom: 2.5rem;
}

.text-ketipung > a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  background-color: #41371D;
  padding: 0.4rem 3rem;
  text-decoration: none;
  border-radius: 30px;
  margin-right: 8rem;
  float: right;
}

.text-ketipung > a:hover {
  color: #41371D;
  background-color: white;
  outline: solid #41371D 2px;
  transition-duration: 100ms;
}

/* License */

.license {
  background-color: #1A4D2E;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.license p {
  font-family: "Orienta", sans-serif;
  color: white;
}

/* Map */

.map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map > iframe {
  width: 100vw;
  height: 80vh;
}


/* Screen max-1024px */

@media screen and (max-width: 1024px) {

  /* Navbar */

  .navbar {
    gap: 3rem;
  }

  /* Hero Section */

  .text {
    height: 85vh;
  }

  .text > h1{
    font-size: 4.75rem;
  }
  
  .text > h3 {
    font-size: 3.5rem;
    letter-spacing: 1rem;
  }

  /* Beto Labheng Section */

  .beto-labheng {
    padding: 4rem 1rem;
    margin-top: -8rem;
  }
  
  .img-beto-labheng > img {
    width: 85%;
  }
  
  .text-beto-labheng {
    padding: 0 3rem;
  }
  
  .text-beto-labheng > h3 {
    font-size: 4rem;
  }
  
  .text-beto-labheng > p {
    font-size: 1.15rem;
    padding-right: 3rem;
    margin-bottom: 2.5rem;
  }
  
  /* Ketipung Section */

  .ketipung {
    padding: 4rem 1rem;
  }
  
  .img-ketipung > img {
    width: 85%;
  }
  
  .text-ketipung {
    padding: 0 3rem;
  }
  
  .text-ketipung > h3 {
    font-size: 4rem;
  }
  
  .text-ketipung > p {
    font-size: 1.15rem;
    padding-right: 3rem;
    margin-bottom: 2.5rem;
  }

  .text-ketipung > a {
    margin-right: 4rem;
  }

  /* Map */

  .map > iframe {
    height: 70vh;
  }
}


/* Screen max-992px */

@media screen and (max-width: 992px) {

  /* Navbar */

  .logo > h1 {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }

  .logo > h1 > span {
    font-size: 2.75rem;
  }

  .navbar {
    display: none;
  }

  /* Hamburger */

  .container {
    display: inline-block;
  }

  /* Hero Section */

  .text {
    margin-top: 4.5rem;
    height: 85vh;
  }

  .text > h1{
    font-size: 4.5rem;
  }
  
  .text > h3 {
    font-size: 3.25rem;
    letter-spacing: 0.9rem;
  }

  /* Beto Labheng Section */

  .beto-labheng {
    padding: 3rem 1rem;
    margin-top: -8rem;
  }
  
  .img-beto-labheng > img {
    width: 80%;
  }
  
  .text-beto-labheng {
    padding: 0 2rem;
  }
  
  .text-beto-labheng > h3 {
    font-size: 3.25rem;
  }
  
  .text-beto-labheng > p {
    font-size: 1rem;
    padding-right: 3.5rem;
    margin-bottom: 2rem;
  }

  .text-beto-labheng > a {
    font-size: 1.15rem;
    padding: 0.4rem 2.5rem;
  }
  
  /* Ketipung Section */

  .ketipung {
    padding: 3rem 1rem;
  }
  
  .img-ketipung > img {
    width: 80%;
  }
  
  .text-ketipung {
    padding: 0 2rem;
  }
  
  .text-ketipung > h3 {
    font-size: 3.25rem;
  }
  
  .text-ketipung > p {
    font-size: 1rem;
    padding-right: 3.5rem;
    margin-bottom: 2rem;
  }

  .text-ketipung > a {
    font-size: 1.15rem;
    padding: 0.4rem 2.5rem;
    margin-right: 4rem;
  }

  /* Map */

  .map > iframe {
    height: 70vh;
  }
}


/* Screen max-768px */

@media screen and (max-width: 768px) {

  /* Navbar */

  nav {
    padding: 1.5rem 3.5rem;
  }

  .logo > h1 {
      font-size: 1.5rem;
      line-height: 1.5rem;
  }

  .logo > h1 > span {
      font-size: 2.5rem;
  }

  /* Hamburger */

  .bar1, .bar2, .bar3 {
      width: 35px;
      height: 4px;
      margin: 4px 0;
  }

  .change .bar1 {
      transform: translate(0, 8px) rotate(-45deg);
  }

  .change .bar2 {
      opacity: 0;
  }

  .change .bar3 {
      transform: translate(0, -8px) rotate(45deg);
  }

  /* Side Navbar */

  .side {
      top: 80%;
      right: 5%;
      padding: 1.5rem 0;
      border-radius: 10px;
      border-top: 5px solid black;
  }

  .side-logo > h1 {
      font-size: 1.5rem;
      line-height: 1.5rem;
      padding: 0 0 1rem 2rem;
  }

  .side-logo > h1 > span {
      font-size: 2.5rem;
  }

  .side-nav-item {
      font-size: 0.8rem;
      padding: 0.5rem 10rem 0.5rem 2rem;
  }

  .side-dropdown-content {
      padding: 0.5rem 0 0.5rem 3rem;
  }

  .side-sub-item {
      font-size: 0.8rem;
      padding: 0.5rem 0;
  }

  /* Hero Section */

  .text {
    margin-top: 4rem;
    height: 80vh;
  }

  .text > h1{
    font-size: 3.25rem;
  }
  
  .text > h3 {
    font-size: 2rem;
    letter-spacing: 0.8rem;
  }

  /* Beto Labheng Section */

  .beto-labheng {
    padding: 2.5rem 1rem;
    margin-top: -6rem;
    border-radius: 60px;
  }
  
  .img-beto-labheng > img {
    width: 75%;
  }
  
  .text-beto-labheng {
    padding: 1rem 1rem;
  }
  
  .text-beto-labheng > h3 {
    font-size: 2.75rem;
  }
  
  .text-beto-labheng > p {
    font-size: 0.8rem;
    padding-right: 2.5rem;
    margin-bottom: 1.75rem;
  }

  .text-beto-labheng > a {
    font-size: 1rem;
    padding: 0.3rem 2rem;
  }
  
  /* Ketipung Section */

  .ketipung {
    padding: 2.5rem 1rem;
    border-radius: 60px;
  }
  
  .img-ketipung > img {
    width: 75%;
  }
  
  .text-ketipung {
    padding: 1rem 1rem 1rem 3rem;
  }
  
  .text-ketipung > h3 {
    font-size: 2.75rem;
  }
  
  .text-ketipung > p {
    font-size: 0.8rem;
    padding-right: 2.5rem;
    margin-bottom: 1.75rem;
  }

  .text-ketipung > a {
    font-size: 1rem;
    padding: 0.3rem 2rem;
    margin-right: 4rem;
  }

  /* Map */

  .map > iframe {
    height: 60vh;
  }

  /* License */

  .license {
    padding: 0.5rem 0;
  }

  .license p {
    font-size: 0.8rem;
  }
}


/* Screen max-576px */

@media screen and (max-width: 576px) {

  /* Hero Section */

  .text {
    height: 80vh;
  }

  .text > h1{
    font-size: 2.5rem;
  }
  
  .text > h3 {
    font-size: 1.5rem;
    letter-spacing: 0.6rem;
  }

  /* Beto Labheng Section */

  .beto-labheng {
    padding: 2rem 1rem;
    margin-top: -6rem;
    border-radius: 50px;
  }
  
  .img-beto-labheng > img {
    width: 80%;
  }
  
  .text-beto-labheng {
    padding: 1rem 1rem;
  }
  
  .text-beto-labheng > h3 {
    font-size: 2rem;
  }
  
  .text-beto-labheng > p {
    font-size: 0.7rem;
    padding-right: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .text-beto-labheng > a {
    font-size: 0.8rem;
    padding: 0.25rem 1.75rem;
  }
  
  /* Ketipung Section */

  .ketipung {
    padding: 2rem 1rem;
    border-radius: 50px;
  }
  
  .img-ketipung > img {
    width: 80%;
  }
  
  .text-ketipung {
    padding: 1rem 0rem 1rem 2rem;
  }
  
  .text-ketipung > h3 {
    font-size: 2rem;
  }
  
  .text-ketipung > p {
    font-size: 0.7rem;
    padding-right: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .text-ketipung > a {
    font-size: 0.8rem;
    padding: 0.25rem 1.75rem;
    margin-right: 2rem;
  }
}


/* Screen max-480px */

@media screen and (max-width: 480px) {

  /* Navbar */

  nav {
    padding: 1.25rem 2.5rem;
  }

  .logo > h1 {
    font-size: 1.15rem;
    line-height: 1.15rem;
  }

  .logo > h1 > span {
    font-size: 2.15rem;
  }

  /* Hamburger */

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    margin: 3px 0;
  }

  .change .bar1 {
    transform: translate(0, 7.5px) rotate(-45deg);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: translate(0, -7.5px) rotate(45deg);
  }

  /* Side Navbar */

  .side {
    top: 80%;
    right: 5%;
    padding: 1.25rem 0;
    border-radius: 10px;
    border-top: 5px solid black;
  }

  .side-logo > h1 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding: 0 0 1rem 1.75rem;
  }

  .side-logo > h1 > span {
    font-size: 2.25rem;
  }

  .side-nav-item {
    font-size: 0.75rem;
    padding: 0.45rem 8rem 0.45rem 1.75rem;
  }

  .side-dropdown-content {
    padding: 0.45rem 0 0.45rem 2.5rem;
  }

  .side-sub-item {
    font-size: 0.75rem;
    padding: 0.45rem 0;
  }

  /* Hero Section */

  .hero {
    height: 110vh;
  }

  .text {
    margin-top: 4rem;
    height: 70vh;
  }

  .text > h1{
    font-size: 2rem;
  }
  
  .text > h3 {
    font-size: 1.25rem;
    letter-spacing: 0.5rem;
  }

  /* Beto Labheng Section */

  .beto-labheng {
    padding: 3rem 1rem 2rem 1rem;
    margin-top: -6rem;
    border-radius: 50px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  .img-beto-labheng > img {
    width: 80%;
  }
  
  .text-beto-labheng {
    padding: 2rem 2rem 2rem 3rem;
  }
  
  .text-beto-labheng > h3 {
    font-size: 2.25rem;
  }
  
  .text-beto-labheng > p {
    font-size: 0.7rem;
    padding-right: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .text-beto-labheng > a {
    font-size: 0.8rem;
    padding: 0.25rem 1.75rem;
  }
  
  /* Ketipung Section */

  .ketipung {
    padding: 3rem 1rem 2rem 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .img-ketipung {
    order: 1;
  }

  .img-ketipung > img {
    width: 80%;
  }
  
  .text-ketipung {
    padding: 2rem 2rem 2rem 3rem;
    order: 2;
  }
  
  .text-ketipung > h3 {
    font-size: 2.25rem;
  }
  
  .text-ketipung > p {
    font-size: 0.7rem;
    padding-right: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .text-ketipung > a {
    font-size: 0.8rem;
    padding: 0.25rem 1.75rem;
    margin-right: 2rem;
  }

  /* Map */

  .map > iframe {
    height: 60vh;
  }

  /* License */

  .license {
    padding: 0.4rem 0;
  }

  .license p {
    font-size: 0.7rem;
  }
}


/* Screen max-360px */

@media screen and (max-width: 360px) {

  /* Navbar */

  nav {
    padding: 1.15rem 1.5rem;
  }

  /* Hamburger */

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    margin: 3px 0;
  }

  .change .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: translate(0, -7px) rotate(45deg);
  }

  /* Hero Section */

  .text {
    height: 70vh;
  }

  .text > h1{
    font-size: 1.75rem;
  }
  
  .text > h3 {
    font-size: 1rem;
    letter-spacing: 0.5rem;
  }

  /* Beto Labheng Section */

  .beto-labheng {
    padding: 2rem 0.5rem 1rem 0.5rem;
    margin-top: -6rem;
    border-radius: 40px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  .img-beto-labheng > img {
    width: 80%;
  }
  
  .text-beto-labheng {
    padding: 1.5rem 1rem 1.5rem 2.5rem;
  }
  
  .text-beto-labheng > h3 {
    font-size: 2.25rem;
  }
  
  .text-beto-labheng > p {
    font-size: 0.7rem;
    padding-right: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .text-beto-labheng > a {
    font-size: 0.8rem;
    padding: 0.25rem 1.75rem;
  }
  
  /* Ketipung Section */

  .ketipung {
    padding: 2rem 0.5rem 1rem 0.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .img-ketipung {
    order: 1;
  }

  .img-ketipung > img {
    width: 80%;
  }
  
  .text-ketipung {
    padding: 1.5rem 1rem 1.5rem 2.5rem;
    order: 2;
  }
  
  .text-ketipung > h3 {
    font-size: 2.25rem;
  }
  
  .text-ketipung > p {
    font-size: 0.7rem;
    padding-right: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .text-ketipung > a {
    font-size: 0.8rem;
    padding: 0.25rem 1.75rem;
    margin-right: 2rem;
  }

  /* Map */

  .map > iframe {
    height: 50vh;
  }

  /* License */

  .license {
    padding: 0.3rem 0;
  }

  .license p {
    font-size: 0.6rem;
  }
}
